{
  "masterBranch": "develop",
  "releaseBranch": "master",
  "testBranch": "main",
  "testBranchSec": null,
  "featurePrefix": "feature/",
  "hotfixPrefix": "hotfix/",
  "tagPrefix": "",
  "releaseFinishIsDeleteRelease": false,
  "releaseFinishIsDeleteFeature": false,
  "needTag": false,
  "dingtalkToken": "",
  "language": "EN"
}