includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap
        - routes
        - config
    level: 7
    tmpDir: /tmp/phpstan
    ignoreErrors:
        -
          identifier: argument.type
        -
          identifier: method.nonObject
        -
          identifier: return.unusedType
        - identifier: match.alwaysTrue  
        - identifier: missingType.iterableValue
        - identifier: property.notFound
        - identifier: property.onlyWritten
        - '#Method .*::.*\(\) return type with generic class Illuminate\\Database\\Eloquent\\Relations\\.* does not specify its types#'
