name: AI PR Assistant

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ai_pr_processing:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      issues: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Run AI PR Assistant
        uses: MM25Zamanian/pr-explainer@v1.0.0
        with:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
